@model BookStore.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "forgotPassword";
}

<h1>forgotPassword</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" asp-action="forgotPassword" asp-controller="Account">
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
        </form>
    </div>
</div>
            
