@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "ListUsers";
}

<h1>ListUsers</h1>
@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <a asp-action="CreateRole" asp-controller="Administration" class="btn btn-primary">Create Role</a>

            <div class="card-body">
                <h5 class="card-title">@item.UserName</h5>
                <p class="card-text"></p>
                <a class="btn btn-primary" asp-action="EditUser" asp-controller="Administration" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-primary" asp-action="DeleteUser" asp-controller="Administration" asp-route-id="@item.Id" onclick="return confirm('Are you sure to delete @item.UserName')">Delete</a>
            </div>
        </div>
    }

}

else
{
    <div class="card" style="width: 18rem;">

        <div class="card-body">
            <h5 class="card-title">users</h5>
            <p class="card-text">There aren't any users</p>
            @*<a class="btn btn-primary" asp-action="CreateUser" asp-controller="Administration">Create User</a>*@
        </div>
    </div>
}


